@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

:root {
    --color-primary: #0d0d0d;
    --color-secondary: #202020;
    --color-text: #e3e3e3;
}

body {
    font-family: 'Play', sans-serif;
    background-color: var(--color-primary);
    margin: 0;
    padding: 0;
    user-select: none;
}

header {
    padding: 10px 0;
    background-color: var(--color-secondary);
    color: var(--color-text);
    display: flex;
    justify-content: center;
    position: relative;
}

#streak {
    position: absolute;
    right: 50px;
    font-size: 2rem;
    color: grey;
}

.streak {
    background: linear-gradient(to top, #ff0000, #ff5a00, #ff9a00, #ffce00, #ffe808);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

main {
    color: var(--color-text);
    margin-top: 10vh;
}

.question {
    margin-bottom: 10vh;
}

.question h1 {
    font-size: 6rem;
}

.question h1 span {
    background-color: var(--color-secondary);
    text-align: right;
    padding: 0 20px;
    margin-right: 15px;
    cursor: pointer;
}

#blur {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
}

#blur::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    animation: fadeIn .6s;
}

#blur.active {
    display: block;
}

.pop {
    display: none;
    background-color: var(--color-secondary);
    color: var(--color-text);
    max-width: 800px;
    width: 100%;
    min-height: 100px;
    z-index: 9;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 15px;
}

.pop.shown:before {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 100%;
    right: 100%;
    background-color: black;
    z-index: 5000;
}

.pop.shown {
    display: block;
    overflow: hidden;
    animation: popup .9s ease-in forwards;
}

.jamal_title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.jamal.shown {
    animation: jamal 1.8s ease-in forwards;
}

@keyframes jamal {
    0% {
        rotate: 0deg;
        scale: 0.1;
    }

    90% {
        rotate: 1800deg;
        scale: 1.5;
    }

    100% {
        scale: 1;
    }
}

@keyframes popup {
    0% {
        width: 0;
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        width: 100%;
        height: 500px;
    }
}

.pop_inner {
    visibility: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pop.shown>.pop_inner {
    visibility: visible;
    animation: popup_inner 0.8s ease-out forwards;
}

@keyframes popup_inner {

    0% {
        scale: 0;
    }

    50% {
        scale: 0;
    }

    100% {
        scale: 1;
    }
}

.pop_inner .close {
    font-size: 2.5rem;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.pop_inner .close:hover {
    rotate: 90deg;
    background-color: red;
    border-radius: 100%;
}

.pop_inner .pop_question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.pop_inner .pop_question h1 {
    font-size: 5rem;
}

.pop_answer>.input-group {
    height: 50px;
}

.pop_inner .pop_answer {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 100%;
    max-height: 50px;
}

.poly-inp {
    max-width: 10rem;
    aspect-ratio: 2/1;
    margin: 0 25px;
    background-color: var(--color-secondary);
    color: var(--color-text);
    text-align: right;
}

.solutions {
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
}

.answer {
    margin-bottom: 10vh;
}

.answer h3 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
}

.answer-input {
    background-color: var(--color-secondary);
    color: var(--color-text);
    max-width: 40%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.about {
    max-width: 50vmin;
}