<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
      integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/style.css') }}"
    />
    <title>MathsBlitz</title>
  </head>

  <body>
    <div id="blur"></div>
    <header class="container-fluid header">
      <h2>MathsBlitz</h2>
      <i id="streak" class="bi bi-fire">1</i>
    </header>
    <main
      class="container-fluid d-flex justify-content-center align-items-center flex-column"
    >
      <div class="question">
        <h1><span class="coeff">?</span>x<sup>2</sup>+<span class="coeff">?</span>x+<span class="coeff">?</span>=0</h1>
            <div class="solutions">
              <span>
                x<sub>1</sub> = <input type="number" class="answer-input" id="x1" placeholder="{{ data.Stage2.roots[0] }}" onchange="updateQuestion()" />
              </span>
              <span>
                x<sub>2</sub> = <input type="number" class="answer-input" id="x2" placeholder="{{ data.Stage2.roots[1] }}" onchange="updateQuestion()" />
              </span>
            </div>
        </div>
      </div>

      <div class="answer">
        <h1 id="finalQuestion"></h1>
        <input
          onchange="setStreak()"
          id="answer-field"
          class="answer-input"
          type="number"
        />
      </div>
    </main>

    {% for el in data.Stage1 %}
    <div class="pop">
      <div class="pop_inner">
        <div id="closePop" class="close">
          <i class="bi bi-x-lg"></i>
        </div>
        <div class="pop_question">
          <h1>{{el.question}}</h1>
          <div class="pop_answer">
            <div class="input-group mb-3">
              <span class="input-group-text">My answer is</span>
              <input
                id="pop-answer"
                type="number"
                class="form-control"
                aria-label="answer"
                value="{{el.answer}}"
              />
              <button id="sendBtn" class="input-group-text">
                <i class="bi bi-send"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <span>{{data}}</span>
    <span id="poly" class="hidden">{{data.Stage3.question}}</span>
  </body>
  <script>
    const streak = document.getElementById("streak");
    const input = document.getElementById("answer-field");
    const bgBlur = document.getElementById("blur");
    const question = document.getElementById("finalQuestion");
    const polynomial = document.getElementById("poly").innerText;

    window.onload = () => {
      setStreak();
      updateQuestion();
    };

    function updateQuestion() {
      let a = document.getElementById("x1").value;
      let b = document.getElementById("x2").value;

      a = a ? a : String.raw`x_1`;
      b = b ? b : String.raw`x_2`;

      question.innerHTML = String.raw`\[ \int_{${a}}^{${b}}` + polynomial + String.raw`\,dx = \]`;
        
      MathJax.Hub.Typeset();
    }

    function setStreak(e) {
      if (input.value >= 100) {
        streak.classList.add("streak");
      } else {
        streak.classList.remove("streak");
      }
    }

    function closePopUp(e) {
      e.classList.remove("shown");
      bgBlur.classList.remove("active");
    }

    popups = document.getElementsByClassName("pop");
    coeffs = document.getElementsByClassName("coeff");
    for (let i = 0; i < coeffs.length; i++) {
      coeffs[i].addEventListener("mouseup", () => {
        popups[i].classList.add("shown");
        bgBlur.classList.add("active");
      });
      closeBtn = popups[i].querySelector("#closePop");
      closeBtn.addEventListener("mouseup", () => {
        closePopUp(popups[i]);
      });
      sendBtn = popups[i].querySelector("#sendBtn");
      sendBtn.addEventListener("mouseup", () => {
        closePopUp(popups[i]);
        coeffs[i].innerText = popups[i].querySelector("#pop-answer").value;
      });
    }
  </script>
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</html>